{% extends 'layouts/base.html' %}

{% block title %}
    Registrate
{% endblock %}

{% block content %}


<form action="{{ url_for('actualizar_cat') }}" method="POST">
    <center>
    <div class="login-box">
        <h2>EDITAR CATEGORIAS</h2>

        <div class="form-group col-md-6">
            <label for="nombre" class="h4">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="form-control" />
        </div>
        
        <div class="footer-page">
            <input type="submit" class="btn btn-outline-success" value="Guardar">
            <a class="h5" href="{{ url_for('categoria')}}">Volver</a>
        </div>
    </div>
    </center>
</form>


{% endblock %}