{% extends 'layouts/base.html' %}

{% block title %}
    Registrate
{% endblock %}

{% block content %}

<center>
<form action="{{ url_for('actualizar_pro') }}" method="POST">
    <div class="login-box">
        <h2>EDITAR PRODUCTOS</h2>

    <div class="form-group col-md-6">
        <label for="nombre" class="h4">Nombre</label>
        <input type="text" id="nombre" name="nombre" class="form-control" />
    </div>

    <div class="form-group col-md-6">
        <label for="categoria">Categoria </label>
        <select name="categoria">
            <option value="vacio" disabled="disabled" selected="selected">Seleccionar...</option>
            {% for categoria in categorias %}
                <option value="{{ categoria[1] }}">{{ categoria[1] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group col-md-6">
        <label for="nombre" class="h4">Precio</label>
        <input type="text" id="nombre" name="precio" class="form-control" />
    </div>
    
    <div class="footer-page">
        <input type="submit" class="btn btn-outline-success" value="Guardar">
        <a class="h5" href="{{ url_for('producto')}}">Volver</a>
    </div>
    </div>
</form>
</center>

{% endblock %}