{% extends 'layouts/mensajes.html' %}

{% block title %}
    Registrate
{% endblock %}

{% block content %}

<form action="{{ url_for('guardar_registro') }}" method="POST">

    <center>
        <div class="login-boxx">
            
        <!-- <img class="avatar" src="../static/add.png" alt="user"> -->
            <h2>¡REGÍSTRATE!</h2>

            <div class="form-group col-md-6">
                <label for="nombre" class="h4">Nombres</label>
                <input type="text" id="nombre" name="nombre" class="form-control" />
            </div>

            <div class="form-group col-md-6">
                <label for="email" class="h4">Email</label>
                <input type="email" id="email" name="email" class="form-control" />
            </div>

            <div class="form-group col-md-6">
                <label for="contrasena" class="h4">Contraseña</label>
                <input type="password" placeholder="Minimo 8 y maximo 15 caracteres" id="contraseña" name="contrasena" class="form-control" />
            </div>
        
        <!-- <div class="footer-page"> -->
            <input type="submit" value="Registrarme">
            <p>¿Ya tienes una cuenta? <a href="{{ url_for('login')}}">Inicia sesión</a></p>
        </div>
    </center>
</form>
{% endblock %}